<div class="container">
  <div class="row mt-3">
　　<div class="col-md-3">
　　  <h4>通知一覧</h4>
　　</div>
  </div>
  <div class="row mt-4">
    <div class="col-8 mx-auto text-center">
      <table class="table">
        <tr>
          <td>
            <!--自分の投稿に対するいいね、コメントは通知に表示しない -->
            <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
            <% if notifications.exists? %>
              <% notifications.each do |notification| %>
                <% if !notification.nil? && !notification.visitor.nil? %>
                  <%= render partial: "notification", locals: {notification: notification} %>
                <% end %>
              <% end %>
            <% else %>
              <p>通知はございません</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
 </div>

