<div class="container">
  <div class="row">
    <h2 class="mt-5 mx-auto">eatjoy とは</h2>
  </div>

  <div class="row">
    <div class="mx-auto mt-3">
      <p class="text-center">
        飲食店の同行者を探すマッチングサイトです。<br>
        「あのお店に行きたいけど１人では入りづらい…」<br>
        と、思った経験はありませんか？？<br>
        同じ経験を持ち趣味の合った人を探せます。<br>
        同行者を探し気になるお店で楽しい食事会をしよう！！
      </p>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-2">
      <%= image_tag("about.jpg", size: "650x450") %>
    </div>
  </div>
</div>
