<div class="container">
  <div class="row">
    <h1 class="mt-5 mx-auto">welcome to eatjoy</h1>
  </div>

  <div class="row">
    <div class="mx-auto mt-2">
      <%= image_tag('restaurant.jpg', size: '1000x400') %>
    </div>
  </div>
</div>