@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';


.Notification {
 .notice {
   background-color: #38AEF0;
   color: #fff;
   text-align: center;
 }
 .alert {
   background-color: #F35500;
   color: #fff;
   text-align: center;
 }
}

header{
  background-color: #deb887 ;
 }

.title_name{
  font-family: fantasy;
  font-size:  60px;
}