<div class="container">
  <div class="row mt-3">
　　<div class="col-md-3">
　　  <h4>募集投稿一覧</h4>
　　</div>
　 <div class="col text-center">
　   <%= render "searches/form" %>
　 </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-2">
      <%= link_to "新規投稿", new_recruitment_path, class: "btn btn-success" %>
    </div>
  </div>
  <%= render "layouts/recruitment_index" %>
</div>