<footer class="text-dark pt-5 pb-3">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
        <p class="text text-center">© 2022.eatjoy company</p>
        <div class="justify-content-center">
          <a href="https://twitter.com" class="mx-1 text-dark"><i class="fab fa-twitter fa-lg fa-spin"></i></a>
          <a href="https://www.instagram.com" class="mx-5 text-dark"><i class="fab fa-instagram fa-lg fa-spin"></i></a>
          <a href="https://www.facebook.com" class="mx-1 text-dark"><i class="fab fa-facebook-f fa-lg fa-spin"></i></a>
          <a href="https://github.com/tkikn0211" class="mx-5 text-dark"><i class="fab fa-github fa-lg fa-spin"></i></a>
      </div>
    </div>
  </div>
</footer>