<footer class="text-dark pt-5 pb-3">
  <div class='container'>
  	<div class='row'>
    	<div class='mx-auto'>
        <p class="text-center">© 2022.eatjoy company </p>
        <div class="d-flex justify-content-center">
          <a href="#" class="mx-1 text-dark"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="mx-5 text-dark"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="mx-1 text-dark"><i class="fa-brands fa-facebook-f fa-lg"></i></a>
          <a href="#" class="mx-5 text-dark"><i class="far fa-envelope fa-lg"></i></a>
      </div>
    </div>
  </div>
</footer>